.App-header {
  background-color: #282c34;
  height: calc(100vh - 59px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.treeViewComponent {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.compressionComponent {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
